/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2014-12-28 00:42:17
 * @version $Id$
 */
/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2014-12-28 00:54:39
 * @version $Id$
 */
/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2014-12-28 00:44:50
 * @version $Id$
 */
/* line 10, ../sass/base.scss */
.clearfix {
  *zoom: 1;
}

/* line 13, ../sass/base.scss */
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}

/* line 20, ../sass/base.scss */
.vertical-centering:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* line 27, ../sass/base.scss */
.ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 34, ../sass/base.scss */
.hide {
  display: none !important;
}

/* line 37, ../sass/base.scss */
.hidden {
  opacity: 0 !important;
}
