/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2014-12-28 15:34:37
 * @version $Id$
 */
/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2014-12-28 00:54:39
 * @version $Id$
 */
/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2014-12-28 00:44:50
 * @version $Id$
 */
/* line 12, ../sass/player.scss */
#miiitv_player_container #cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 19, ../sass/player.scss */
#miiitv_player_container #player_channel_menu_list.menu_open {
  left: 0;
}
/* line 22, ../sass/player.scss */
#miiitv_player_container #player_channel_menu_list {
  z-index: 2;
  position: absolute;
  top: 0;
  left: -380px;
  width: 370px;
  height: 100%;
  background: #070707;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 0 4px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -moz-transition-timing-function: cubic-bezier(0.29, -0.21, 0.495, 1.155);
  -o-transition-timing-function: cubic-bezier(0.29, -0.21, 0.495, 1.155);
  -webkit-transition-timing-function: cubic-bezier(0.29, -0.21, 0.495, 1.155);
  transition-timing-function: cubic-bezier(0.29, -0.21, 0.495, 1.155);
}
/* line 34, ../sass/player.scss */
#miiitv_player_container #player_channel_menu_list .channel_list_channel_name {
  width: 200px;
  display: inline-block;
  margin-left: 5px;
  line-height: 1.2;
}
/* line 40, ../sass/player.scss */
#miiitv_player_container #player_channel_menu_list ul li {
  position: relative;
  display: inline-block;
  width: 100%;
}
/* line 45, ../sass/player.scss */
#miiitv_player_container #player_channel_menu_list ul li * {
  vertical-align: middle;
}
/* line 48, ../sass/player.scss */
#miiitv_player_container #player_channel_menu_list ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
}
/* line 57, ../sass/player.scss */
#miiitv_player_container #player_channel_menu_list ul li:hover {
  background: #7f7e7a;
}
/* line 61, ../sass/player.scss */
#miiitv_player_container #player_channel_menu_list .channels.active {
  z-index: 1;
  background: #eee;
  color: #232323;
  -moz-box-shadow: black -3px 0 15px 6px;
  -webkit-box-shadow: black -3px 0 15px 6px;
  box-shadow: black -3px 0 15px 6px;
}
/* line 70, ../sass/player.scss */
#miiitv_player_container #player_video_info_container.video_info_open {
  bottom: 0;
}
/* line 73, ../sass/player.scss */
#miiitv_player_container #player_video_info_container {
  position: absolute;
  bottom: -145px;
  left: 0;
  min-height: 145px;
  width: 100%;
  background: #232323;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 4px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -moz-transition-timing-function: cubic-bezier(0, 0.355, 0.495, 1.155);
  -o-transition-timing-function: cubic-bezier(0, 0.355, 0.495, 1.155);
  -webkit-transition-timing-function: cubic-bezier(0, 0.355, 0.495, 1.155);
  transition-timing-function: cubic-bezier(0, 0.355, 0.495, 1.155);
}
/* line 84, ../sass/player.scss */
#miiitv_player_container #player_video_info_container #channel_title {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 1.5em;
  font-weight: bolder;
  color: #aaa;
}
/* line 92, ../sass/player.scss */
#miiitv_player_container #player_video_info_container #video_title {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 1.2em;
}
/* line 98, ../sass/player.scss */
#miiitv_player_container #player_video_info_container #video_time {
  text-align: center;
  margin-bottom: 5px;
}
/* line 102, ../sass/player.scss */
#miiitv_player_container #player_video_info_container #time_line {
  width: 100%;
  height: 10px;
  background: #070707;
  cursor: pointer;
}
/* line 107, ../sass/player.scss */
#miiitv_player_container #player_video_info_container #time_line #progress_time {
  height: 100%;
  background: #630b11;
}
/* line 112, ../sass/player.scss */
#miiitv_player_container #player_video_info_container #video_control {
  margin-top: 5px;
}
/* line 114, ../sass/player.scss */
#miiitv_player_container #player_video_info_container #video_control div {
  display: inline-block;
  cursor: pointer;
}
/* line 117, ../sass/player.scss */
#miiitv_player_container #player_video_info_container #video_control div svg, #miiitv_player_container #player_video_info_container #video_control div span {
  vertical-align: middle;
}
/* line 121, ../sass/player.scss */
#miiitv_player_container #player_video_info_container #video_control div:hover svg {
  background: #efc028;
}

/* line 129, ../sass/player.scss */
#miiitv_video_list {
  z-index: 2;
  background: #070707;
}
/* line 132, ../sass/player.scss */
#miiitv_video_list #video_list_control {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background: #171717;
}
/* line 139, ../sass/player.scss */
#miiitv_video_list #video_list_control div {
  display: inline-block;
  cursor: pointer;
}
/* line 142, ../sass/player.scss */
#miiitv_video_list #video_list_control div svg, #miiitv_video_list #video_list_control div span {
  vertical-align: middle;
}
/* line 146, ../sass/player.scss */
#miiitv_video_list #video_list_control #video_list_info {
  float: right;
  padding: 8px 10px;
}
/* line 151, ../sass/player.scss */
#miiitv_video_list #video_list_ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 161, ../sass/player.scss */
#miiitv_video_list .videos_grid {
  float: left;
  position: relative;
  width: 320px;
  height: 180px;
  box-sizing: border-box;
}
/* line 167, ../sass/player.scss */
#miiitv_video_list .videos_grid .video_title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(35, 35, 35, 0.9);
}
/* line 178, ../sass/player.scss */
#miiitv_video_list .focus::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 180px;
  box-sizing: border-box;
  border: solid 5px #efc028;
}
/* line 190, ../sass/player.scss */
#miiitv_video_list .playing::before {
  content: "Playing";
  position: absolute;
  top: 50%;
  left: 0;
  width: 320px;
  font-size: 32px;
  margin-top: -32px;
  padding: 16px 0;
  box-sizing: border-box;
  background: rgba(35, 35, 35, 0.9);
  text-align: center;
}

/* line 207, ../sass/player.scss */
#miiitv_link {
  z-index: 2;
  background: #070707;
  text-align: center;
  line-height: 1.5em;
}
/* line 212, ../sass/player.scss */
#miiitv_link a {
  display: block;
  color: #eee;
}
/* line 216, ../sass/player.scss */
#miiitv_link #miiitv_link_container {
  display: inline-block;
  vertical-align: middle;
}
