/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2014-12-28 00:44:50
 * @version $Id$
 */

@import "compass";

$bg: #222;
$font_color: #eee;
$font_color_sub: #aaa;
$dark: #070707;
$light_dark: rgba(23, 23, 23, 1);
$lighter_dark: rgba(35, 35, 35, 1);
$lighter_dark_a: rgba(35, 35, 35, .9);
$dark_gray: rgba(127, 126, 122, 1);
$dark_blue: rgba(0, 103, 166, 1);
$dark_blue_a: rgba(0, 103, 166, .7);
$light_blue: rgba(0, 171, 216, 1);
$dark_green: rgba(0, 137, 114, 1);
$dark_yellow: rgba(239, 192, 40, 1);
$light_red: rgba(242, 87, 45, 1);
$dark_red: rgba(99, 11, 17, 1);
$videoGridW: 320px;
$videoGridH: 180px;
$large: 32px;