/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2014-12-28 00:42:17
 * @version $Id$
 */

@import "d4";

.clearfix {
    *zoom: 1;
}
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
}

.vertical-centering:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hide {
    display: none !important;
}
.hidden {
    opacity: 0 !important;
}
