/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2014-12-28 00:23:49
 * @version $Id$
 */

@import "d4";

body {
    line-height: 1.3;
    color: $font_color;
    overflow: hidden;
}

pre {
    width: 100%;
    word-break: break-word;
}

#miiitv_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $dark;
}
.full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#miiitv_setting_container {}

#browser {
    z-index: 1000;
    background: $dark;
    text-align: center;
}